<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./TestHelper.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">

    <testsuite name="Phalcon - Testsuite">
        <directory>./</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../app/config/</directory>
            <directory suffix=".php">../app/controllers/</directory>
            <directory suffix=".php">../app/lib/</directory>
            <directory suffix=".php">../app/models/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="coverage" charset="UTF-8" yui="true" highlight="true"/>
    </logging>

</phpunit>
