/* CSS Document */

body {color:#000;}
* {overflow: visible !important;}
/******* HEADER *******/
#box-header,
#box-header-alt {
background:none;
width:100%;
}
#header {
background:none;
width:auto;
height:auto;
}
#header div.logo-lc a {background:none;position:relative;}
#header div.logo-lc img {display:block;}

/* Tabbed Search */
#box-tabsearch { display:none;}

/* Breadcrumb */
#box-crumb {width:100%;margin-bottom:20px;font-size:10px;border-top:1px solid #666;border-bottom:1px solid #666;}
#crumb {width:100%;}
#box-crumb a {color:black;}

/* Homepage */
p.date {display:none;}
#box-widget {display:none;}

/******* CONTAINERS-BASIC *******/
#main {
width:100%;
}
#box-mylinks {
width:94%;
border:none;
color:#000;
}
#box-mylinks #quicklinks h2 {
padding:0;
color:#000;
}
#box-mylinks #quicklinks p.line {
margin:0;
padding:0;
}
#box-mylinks #quicklinks p.std {
padding:0;
}
#box-tabber {
width:598px;
width:94%;
float:none;
margin:0 0 20px 0;
clear:both;
}
#first, #second, #third {
visibility:visible;
border:none;
height:auto;
}
#box-worktools,
#box-toplinks,
#box-news,
#box-money {
margin:0 20px 20px 0;
float:none;
width:94%;
}
#box-worktools #worktools,
#box-toplinks #toplinks,
#box-news #news,
#box-money #money {
border:none;
}
#box-worktools h2,
#box-toplinks h2,
#box-news h2,
#box-money h2 {
font-size:1em;
color:#000;
}

#box-toplinks li span.ext {float:none;}
#box-toplinks li span.ext2 {float:none;}

/******* LINK OF THE WEEK, Other pages *******/
#img-holder img {border:none;width:100%;height:100%;}
#main-body {border:none;width:94%;}

/******* FOOTER *******/
#box-footer {display:none;}